.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    header {
        margin: 2.5rem 1.8rem 0;
        
        @media only screen and (min-width: 500px) {
            margin: 2.5rem 4rem 0;
        }
    }
    
    section {
        flex: 1;
    }
    
    main {
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
        min-height: 80vh;
        position: relative;
    }
}
