.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    header {
        // margin: 2.5rem 1.8rem 0;
        
        @supports(margin: max(0px)) {
            --safe-area-inset-top: env(safe-area-inset-top);
            margin: max(2.5rem, calc(var(--safe-area-inset-top) + 20px)) 1.8rem 0;
        }
        
        @media only screen and (min-width: 500px) {
            margin: 2.5rem 4rem 0;
        }
    }
    
    section {
        flex: 1;
    }
    
    main {
        min-height: 80vh;
        position: relative;
    }
}
