<div *ngIf="cards">
    <div 
    class="card"
    *ngFor="let card of cards; let i = index" 
    (click)="activateCard(i)"
    [ngStyle]="{'transform': 'translateY(' + (i > activeCard ? moveY : 0) + 'px)'}">

        <div class="card-header">
            <h2 [ngStyle]="{'color': card.color}">{{ card.title }}</h2>
            <div class="delete-button">
                <fa-icon [icon]="faTrashAlt"></fa-icon>
            </div>
        </div>
        <div #cardList class="card-list">

            <!-- <label 
            class="container"
            (click)="checkTask(i)"
            *ngFor="let task of card.tasks; let i = index">
                {{ task.value }}:{{ task.isChecked }}
                <input type="checkbox" >
                <span class="checkmark">
                    <span class="checkmark-body"></span>
                </span>
            </label> -->

            <div 
            class="container2" 
            *ngFor="let task of card.tasks; let j = index"
            [class.checked]="task.isChecked">
                <div class="checkbox-container" (click)="checkTask(j, $event)">
                    <div class="checkbox2"></div>
                    <div class="checkbox-body2"></div>
                </div>
                <textarea 
                autosize [minRows]="1"
                [attr.disabled]="task.isChecked ? 'disabled' : null"
                spellcheck="false"
                (click)="preventClick($event)">{{ task.value }}</textarea>
            </div>

            <div class="container2 default" [class.focus]="activeNewTask">
                <div class="checkbox-container" #newTaskBox>
                    <div class="checkbox2"></div>
                </div>
                <textarea 
                autosize [minRows]="1"
                spellcheck="false" 
                placeholder="Write a new task"
                (focus)="activateNewTask()"
                (focusout)="activateNewTask()"
                (click)="preventClick($event)"></textarea>
            </div>

        </div>
    </div>
</div>
<div *ngIf="cards.length == 0" id="empty-lists">
    <img src="/assets/Ballot-peep.png" alt="Illustration of a hand holding a list">
    <h2>No lists yet :(</h2>
    <p>When you're ready, tap the plus icon to add a list</p>
</div>