<div *ngIf="cards">
    <div 
    class="card"
    #card
    *ngFor="let card of cards; let i = index" 
    (click)="activateCard(i)"
    [ngStyle]="{'transform': 'translateY(' + (i > activeCard ? moveY : 0) + 'px)'}">

        <div class="card-header">
            <h2 
            #cardTitle
            *ngIf="!isActiveTitleEdit || i !== activeCard"
            [ngStyle]="{'color': card.color}">
                {{ card.title }}
            </h2>

            <textarea
            *ngIf="i == activeCard && isActiveTitleEdit"
            rows="1"
            autosize
            spellcheck="false"
            [ngModel]="card.title"
            (ngModelChange)="saveTitleChange($event)"
            (click)="preventClick($event)"
            (keydown.enter)="toggleEditMode()"
            [ngStyle]="{'color': card.color, 'border-bottom': '3px solid '+card.color}">{{ card.title }}</textarea>

            <div 
            class="header-button"
            *ngIf="i === activeCard"
            [@fadeAnimation]
            (click)="preventClick($event); toggleEditMode()">
                <fa-icon [icon]="faEdit"></fa-icon>
            </div>

            <div 
            class="header-button"
            *ngIf="i === activeCard"
            [@fadeAnimation]
            (click)="preventClick($event); deleteCard()">
                <fa-icon [icon]="faTrashAlt"></fa-icon>
            </div>
        </div>
        <div #cardList class="card-list">
            <div 
            class="container2" 
            #taskItem
            *ngFor="let task of card.tasks; let j = index"
            [class.checked]="task.isChecked">
            <div class="checkbox-container" (click)="checkTask(j); preventClick($event)">
                    <div class="checkbox2"></div>
                    <div class="checkbox-body2"></div>
                </div>
                <textarea 
                autosize [minRows]="1"
                [attr.disabled]="task.isChecked ? 'disabled' : null"
                spellcheck="false"
                (click)="preventClick($event)">{{ task.value }}</textarea>
            </div>

            <div class="container2 default" [class.focus]="activeNewTaskIx === i">
                <div class="checkbox-container">
                    <div class="checkbox2"></div>
                </div>
                <textarea
                autosize [minRows]="1"
                spellcheck="false" 
                placeholder="Write a new task"
                (focus)="activateNewTask(true)"
                (focusout)="activateNewTask(false)"
                (click)="preventClick($event)"
                (keydown.enter)="addTask($event)"
                [ngModel]="activeNewTaskIx === i ? newTaskValue : null"
                (ngModelChange)="newTaskValue = $event"></textarea>
            </div>
        </div>
    </div>
</div>
<div *ngIf="cards.length == 0" id="empty-lists">
    <img src="/assets/Ballot-peep.png" alt="Illustration of a hand holding a list">
    <h2>No lists yet :(</h2>
    <p>When you're ready, tap the plus icon to add a list</p>
</div>