// .card {
//     position: absolute;
//     // top: 0;
//     // margin-top: 30px;
//     transition: 0.2s; 
//     width: 100%;
// }

@for $i from 2 through 8 {
    .card:nth-child(#{$i}n) {
        // margin-top: $i * 70px;
        margin-top: $i * 8.2vh;
        min-height: 80vh - $i * 8.2vh;
    }
}

.card:first-child {
    box-shadow: none;
}

.card:not(:first-child) {
    // top: -70px;
    top: -8.2vh;
}

// .card:hover~.card {
//     transform: translateY(180px);
// }

.card {
    background-color: var(--card-bg);
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    // -webkit-box-shadow: 0px -3px 14px 2px rgba(0,0,0,0.53); 
    // box-shadow: 0px -3px 14px 2px rgba(0,0,0,0.53);
    -webkit-box-shadow: 0px -8px 11px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px -8px 11px rgba(0,0,0,0.25);
    box-shadow: 0px -8px 11px rgba(0,0,0,0.25);
    color: var(--text);
    min-height: 80vh;
    position: absolute;
    transition: 0.2s; 
    width: 100%;
    
    .card-header {
        padding: 20px 30px 0;
    
        h2 {
            font-size: 25px;
            font-weight: normal;
            margin: 0;
        }
    }
    
    
    .card-list {
        padding: 30px 10px;
    
        // ul li {
        //     font-size: 20px;
        //     margin-bottom: 5px;
        // }
        
        /* Customize the label (the container) */
        .container {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #eee;
        }

        /* On mouse-over, add a grey background color */
        .container:hover input ~ .checkmark {
            background-color: #ccc;
        }
        
        /* When the checkbox is checked, add a blue background */
        .container input:checked ~ .checkmark {
            background-color: #2196F3;
        }
        
        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }
        
        /* Show the checkmark when checked */
        .container input:checked ~ .checkmark:after {
            display: block;
        }
        
        /* Style the checkmark/indicator */
        .container .checkmark:after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}

#empty-lists {
    align-items: center;
    color: var(--text);
    display: flex;
    flex-direction: column;
    margin-top: 20%;

    h2 {
        margin: 0;
    }

    img {
        height: 350px;
    }

    p {
        color: var(--muted-text);
        margin: 0;
        padding: 2% 15% 0;
        text-align: center;
    }
}