@for $i from 2 through 100 {
    .card:nth-child(#{$i}n) {
        // margin-top: $i * 70px;
        margin-top: $i * 8.2vh;
        // min-height: 80vh - $i * 9vh;
        min-height: 30vh;
    }
}

.card:first-child {
    box-shadow: none;
}

.card:not(:first-child) {
    // top: -70px;
    top: -8.2vh;
}

// .card:hover~.card {
//     transform: translateY(180px);
// }

.card {
    background-color: var(--card-bg);
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    -webkit-box-shadow: 0px -5px 13px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px -5px 13px rgba(0,0,0,0.25);
    box-shadow: 0px -5px 13px rgba(0,0,0,0.25);
    color: var(--text);
    min-height: 80vh;
    position: absolute;
    transition: 0.2s; 
    width: 100%;
    
    .card-header {
        align-items: flex-start;
        display: flex;
        font-size: 20px;
        justify-content: space-between;
        padding: 14px 10% 0;

        @media only screen and (min-width: 375px) {
            font-size: 23px;
            padding: 17px 10% 0;
        }
        @media only screen and (min-width: 400px) {
            font-size: 25px;
            padding: 20px 10% 0;
        }
        
        h2 {
            flex: 1;
            font-size: inherit;
            font-weight: normal;
            margin: 0;
        }

        textarea {
            flex: 1; 
            background-color: var(--card-bg);
            border: none;
            display: block;
            font-family: inherit;
            font-size: inherit;
            font-weight: normal;
            outline: none;
            padding: 0;
            resize: none;
        }

        .header-button {
            color: var(--muted-text);
            cursor: pointer;
            font-size: 15px;
            margin-left: 12px;
            margin-top: 2px;

            // &:hover {
            //     color: var(--text);
            // }

            @media only screen and (min-width: 375px) {
                font-size: 17px;
            }
            @media only screen and (min-width: 400px) {
                font-size: 20px;
            }
            @media only screen and (min-width: 500px) {
                margin-left: 17px;
            }
        }
    }
    
    
    .card-list {
        padding: 10%;

        .container2 {
            cursor: pointer;
            display: flex;
            font-size: 15px;
            margin-bottom: 0.5em;
            position: relative;

            @media only screen and (min-width: 375px) {
                font-size: 18px;
            }
            @media only screen and (min-width: 400px) {
                font-size: 20px;
            }

            .checkbox-container {
                padding-top: 1px;

                @media only screen and (min-width: 375px) {
                    padding-top: 0;
                }

                .checkbox2 {
                    border: var(--text) solid 2px;
                    border-radius: 6px;
                    height: 12px;
                    min-height: 12px;
                    margin-right: 1em;
                    width: 12px;
                    min-width: 12px;
    
                    @media only screen and (min-width: 375px) {
                        border-radius: 8px;
                        height: 16px;
                        min-height: 16px;
                        width: 16px;
                        min-width: 16px;
                    }
                    @media only screen and (min-width: 400px) {
                        border: var(--text) solid 3px;
                    }
                }

                .checkbox-body2 {
                    display: none;
                    position: absolute;
                }
            }


            textarea {
                flex: 1; 
                background-color: var(--card-bg);
                // background-color: black;
                border: none;
                color: var(--text);
                font-family: inherit;
                font-size: inherit;
                outline: none;
                padding: 0;
                resize: none;
            }
            
        }

        .container2.checked {

            .checkbox-container {

                .checkbox2 {
                    border-color: var(--checked);
                }
    
                .checkbox-body2 {
                    border-radius: 2px;
                    background-color: var(--checked);
                    display: initial;
                    height: 8px;
                    left: 4px;
                    top: 5px;
                    width: 8px;
    
                    @media only screen and (min-width: 375px) {
                        border-radius: 3px;
                        height: 10px;
                        left: 5px;
                        top: 5px;
                        width: 10px;
                    }
                    @media only screen and (min-width: 400px) {
                        border-radius: 3px;
                        height: 10px;
                        left: 6px;
                        top: 6px;
                        width: 10px;
                    }
                }
            }

            textarea {
                color: var(--muted-text);
                text-decoration: line-through;
            }
        }

        .container2.default {
            
            &.focus {
                .checkbox-container .checkbox2 {
                    border-color: var(--text);
                }

                textarea {
                    color: var(--text);
                }
            }

            .checkbox-container .checkbox2 {
                border-color: var(--muted-text);
                transition: 0.3s;
            }

            textarea {
                color: var(--muted-text);
                transition: 0.3s;
            }

            ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: var(--muted-text);
                opacity: 1;
            }
            :-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: var(--muted-text);
            }
            
            ::-ms-input-placeholder { /* Microsoft Edge */
                color: var(--muted-text);
            }
        }
    }
}

#empty-lists {
    align-items: center;
    color: var(--text);
    display: flex;
    flex-direction: column;
    margin-top: 20%;

    h2 {
        font-size: 20px;
        margin: 0;

        @media only screen and (min-width: 375px) {
            font-size: 23px;
        }
        @media only screen and (min-width: 400px) {
            font-size: 25px;
        }
    }

    img {
        height: 250px;

        @media only screen and (min-width: 375px) {
            height: 300px;
        }
        @media only screen and (min-width: 400px) {
            height: 350px;
        }
    }

    p {
        color: var(--muted-text);
        font-size: 15px;
        margin: 0;
        padding: 2% 10% 0;
        text-align: center;

        @media only screen and (min-width: 375px) {
            font-size: 18px;
        }
        @media only screen and (min-width: 400px) {
            font-size: 20px;
        }
    }
}