<div *ngIf="data.mobileType === 'android'" color="primary" class="android-prompt">
    <div class="prompt-content">
        <img src="./assets/icons/apple-touch-icon.png">
        <div class="prompt-text">
            <h2>Want to install Stackeer?</h2>
            <div class="prompt-details">Add this application to your home screen for quick access</div>
        </div>
        <mat-icon (click)="close()">close</mat-icon>
    </div>
    <div class="prompt-footer">
        <button mat-button (click)="close()">No thanks</button>
        <button mat-button (click)="installPwa()">Add to Home screen</button>
    </div>
</div>
  
<div *ngIf="data.mobileType === 'ios'" class="ios-prompt">
    <div class="prompt-content">
        <img src="./assets/icons/apple-touch-icon.png">
        <div class="prompt-text">
            <h2>Want to install Stackeer?</h2>
            <div class="prompt-details">Tap the<mat-icon svgIcon="ios_share"></mat-icon>icon bellow and Add to Home screen</div>
        </div>
        <div class="ios-close" (click)="close()">
            <fa-icon [icon]="faTimesCircle"></fa-icon>
        </div>
    </div>
</div>