<div *ngIf="data.mobileType === 'android'" color="primary" class="android-prompt">
    <div class="prompt-content">
        <img src="./assets/icons/apple-touch-icon.png">
        <div class="prompt-text">
            <h2>Want to install Stackeer?</h2>
            <div class="prompt-instructions">Add this application to your home screen for quick access</div>
        </div>
        <!-- <button mat-icon-button (click)="close()"> -->
        <mat-icon (click)="close()">close</mat-icon>
        <!-- </button> -->
    </div>
    <div class="prompt-footer">
        <button mat-button (click)="close()">No thanks</button>
        <button mat-button (click)="installPwa()">Install</button>
    </div>
</div>
  
<div *ngIf="data.mobileType === 'ios'" class="ios-prompt">
    <div class="prompt-content">
        <img src="./assets/icons/apple-touch-icon.png">
        <div class="prompt-text">
            <h2>Want to install Stackeer?</h2>
            <div class="prompt-instructions">To install this app, tap the Menu button and then 'Add to Home screen'</div>
        </div>
    </div>
    <div class="ios-close" (click)="close()">
        <fa-icon [icon]="faTimesCircle"></fa-icon>
    </div>
</div>